* {
    font-family: 'Lexend', sans-serif;
}

.container {
    width: 900px;
    margin: auto;
    background-color: rgba(22, 104, 228, 0.925);
}

.text-center {
    text-align: center;
}

.icon-grid {
/* flex! */
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

 .show {
/*  visibilità e opacità 
 */opacity: 1 !important;
visibility: visible;
} 
 
#griglia>div {
    /* dimensioni e margini */
    width: 12rem;
    margin: 0.5rem;
   /*  background-color: #b80adbdc;
    border: 1px solid #000000; */
    border-radius: 10px;

}

.timer {
    padding: 10px 0;
}

.icon {
    background-color: #b80adbdc;
    border: 1px solid #000000;
    font-size: 80px;
    text-align: center;
    visibility: visible !important;
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);

}

.disabled {
    pointer-events: none;
    cursor: wait;
}

#griglia .show {
    /* agganciare animation-name rotazione carta */
    animation-name: rotazione-carta;
    animation-duration: .8s;
    background-color:white ;
    border: 1px solid #3889c4;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    
}

#griglia .find {
    /* agganciare animation-name indovinato */
    animation-name: indovinato;
    animation-duration: .4s;
    background-color: rgba(247, 212, 16, 0.56);
    border: 1px solid #3889c4;
    border-radius: 10px;
}

.button {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #b80adbdc;
    border: 1px solid #3889c4;
    border-radius: 5px;
}

.button:hover {
    background-color: #16486c;
    border: none;
}

#modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
}

#modal.active {
    display: flex;
}

#modal h2 {
    margin-top: 20px;
}
@media (max-width: 900px) {
    .container {
        width: 749px;
    }
    #griglia>div {
        margin: 11px 11px;
        width: 110px;
        height: 110px;
    }
    .icon {
        font-size: 90px;
    }
}
@media (max-width: 750px) {
    .container {
        width: 599px;
    }
    #griglia>div {
        margin: 10px 10px;
        width: 100px;
        height: 100px;
    }
    .icon {
        font-size: 80px;
    }
}


@media (max-width: 600px) {
    .container {
        width: 400px;
    }
    #griglia>div {
        margin: 5px 5px;
        width: 80px;
        height: 80px;
    }
    .icon {
        font-size: 70px;
    }
}

@media (max-width: 420px) {
    .container {
        width: 230px;
    }
    #griglia>div {
        margin: 5px 5px;
        width: 40px;
        height: 40px;
    }
    .icon {
        font-size: 20px;
    }
}

@keyframes indovinato { /* animazione quando si indovina */
    from { transform:rotate(180grad);
    }
    to { transform:rotate(360grad);
    }
}

@keyframes rotazione-carta { /* animazione quando ruota la carta */
    from { transform:rotateY(1.047);
    }
    50% {transform: rotateY(2.094rad);
    }
    to {transform: rotateY(3.142rad);
    }
}
